# App
PORT=3000

# Database (TimescaleDB)
DB_HOST=timescaledb
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=monitoring

# Kafka
KAFKA_BROKERS=kafka:29092
KAFKA_GROUP_ID=nestjs-backend
KAFKA_TOPIC_METRICS=metrics
KAFKA_TOPIC_ANOMALIES=anomalies
