# Kafka Configuration
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=collector-agent
KAFKA_TOPIC_METRICS=metrics

# Agent Configuration
COLLECT_INTERVAL_MS=5000
AGENT_ID=agent-1
HOSTNAME=my-server

# Prometheus Configuration
PROMETHEUS_PORT=9100
PROMETHEUS_PATH=/metrics